html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url('https://i.imgur.com/BKsTxGS.jpg?1');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  height: 100%;
  width: 100%;
  /*box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.6);*/
  padding-bottom: 50px;
}


span#name {
  display: inherit;
  font-size: 70px;
  color: white;
  margin: 0px 0px 17px 40px;
  padding-top: 40px;
  font-family: 'Dosis', sans-serif;
}

span#jobDisplay {
  height: 20px;
  width: 100px;
  color: white;
  margin-left: 40px;
  font-size: larger;
  text-decoration: underline;
  font-family: 'Dosis', sans-serif;
}

nav#navbar {
  margin-left: 40px;
  font-family: 'Dosis', sans-serif;
}

.listItem {
  display: inline;
  text-decoration: none;
  margin-right: 40px;
  font-family: 'Dosis', sans-serif;
  border-radius: 7px;
}

.listItem:hover {
  text-decoration: underline;
}

ol.list {
  margin-top: 40px;
  font-size: larger;
  font-style: italic;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}


main {
  display: flex;
  flex-direction: row;
  font-family: 'Dosis', sans-serif;
  margin-bottom: 30px;
}

#profPic {
  border: 3px solid black;
  height: 200px;
  width: 52px;
  padding-right: 140px;
  border-radius: 50px;
  margin: 0px 0px 0px 55px;
  background: url('https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.licdn.com%2Fmpr%2Fmpr%2Fshrinknp_200_200%2FAAEAAQAAAAAAAAqUAAAAJDM1MDhkM2IyLTJiNjgtNGNkMi05YzNmLTdlY2JjMWY4YjAzMg.jpg&f=1')
}

.about  {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 30px;
  margin-left: 20px;
  padding-right: 50px;
}

p.info {
margin-bottom: 40px;
font-size: 20px;
}

footer {
  display: flex;
  justify-content: center;
  color: white;
}

.icon {
  margin: 0px 25px 5px 25px;
}


/*=========skills page=========*/

div#skills {
  height: 100%;
  width: 100%;
  /*border: 3px solid orange;*/
}

li.skill {
  color: white;
  font-size: 30px;
  margin: 40px 0px 0px 40px;

}


#nameSkill {
  display: inherit;
  font-size: 70px;
  color: white;
  margin: 0px 0px 17px 40px;
  padding-top: 40px;
  font-family: 'Dosis', sans-serif;
}

/*=========projects page=========*/

span#nameProjects {
  display: inherit;
  font-size: 70px;
  color: white;
  margin: 0px 0px 17px 40px;
  padding-top: 40px;
  font-family: 'Dosis', sans-serif;
}

main.projects {
  display: flex;
  justify-content: space-around;
  margin-top: 8%;
}

img.project {
  margin: 20px 20px 60px 60px;
  border: 3px solid white;
}

img.project:hover {
  border: 3px solid orange;
  cursor: pointer;
}

span.projectDescriptions {
  color: white;
  display: flex;
  
}

a.projectName {
  text-align: center;
  font-size: 25px;
}

div.vince {
  text-align: center;
  color: white;
  display: flex;
  position: relative;
  flex-direction: column;
}

.project_title {
  font-size: 30px;
}

/*=========contacts page=========*/


span#nameContact {
  display: inherit;
  font-size: 70px;
  color: white;
  margin: 0px 0px 17px 40px;
  padding-top: 40px;
  font-family: 'Dosis', sans-serif;
}

ul.contacts {
  display: flex;
}

li.contact {
  margin: 40px;
  font-size: 40px;
}

a.contact:hover {
  color: orange;
}


/*mobile version*/

@media (max-width: 1700px) {
  div#profPic {
  border: 3px solid black;
  height: 200px;
  width: 52px;
  padding-right: 140px;
  border-radius: 50px;
  margin-left: 55px;
  background: url('https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.licdn.com%2Fmpr%2Fmpr%2Fshrinknp_200_200%2FAAEAAQAAAAAAAAqUAAAAJDM1MDhkM2IyLTJiNjgtNGNkMi05YzNmLTdlY2JjMWY4YjAzMg.jpg&f=1')
}

div.about  {
  display: inline;
  color: white;
  font-size: 20px;
  margin-left: 20px;
  padding-right: 50px;
}
}



